{{#each items}}
    <div class="makeup__item{{#if items}} makeup__item--expandable{{/if}}" data-id="{{@index}}" data-name="{{name}}" data-index="{{index}}" id="{{@root.instanceId}}-item-{{_id}}">

        <div class="makeup__item-header">
            <div class="makeup__item-header-in">
                <div class="makeup__item-header-meta">
                    {{#if documentation}}
                        <div class="makeup__doc">
                            {{#each documentation}}
                                <a href="{{link}}" title="{{label}}" class="makeup__doc-link"></a>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                <div class="makeup__item-header-inner">
                    <div class="makeup__item-header-title">{{label}}</div>
                </div>
            </div>

        </div>

        {{#if items}}
            {{> 'items'}}
        {{/if}}

    </div>
{{/each}}
