<div class="makeup">

    {{!-- Menu --}}
    <div class="makeup__menu">

        {{!-- Toggle sidebar --}}
        {{#if sidebar}}
            <div class="makeup__btn">
                <input type="checkbox" name="makeup-sidebar-{{id}}" id="makeup-sidebar-{{next}}" class="makeup__btn-checkbox makeup__sidebarToggler"{{#if sidebar.checked}} checked{{/if}}>
                <label for="makeup-sidebar-{{current}}" class="makeup__btn-label makeup__btn-label--sidebar" title="{{sidebar.tooltip}}">
                    {{sidebar.tooltip}}
                </label>
            </div>
        {{/if}}

        {{!-- Search --}}
        {{#if search}}
            <div class="makeup__search">
                <input type="text" class="makeup__search-input" id="makeup-search-{{next}}"{{#if search.placeholder}} placeholder="{{search.placeholder}}"{{/if}}>
                <label for="makeup-search-{{current}}" class="makeup__search-icon"></label>
            </div>
        {{/if}}

        {{!-- Mode --}}
        {{#if mode}}
            <div class="makeup__radio">

                <div class="makeup__radio-title">
                    {{mode.label}}
                </div>

                {{#each mode.items}}
                    <div class="makeup__radio-item">
                        <input type="radio" name="makeup-mode-{{../id}}" id="makeup-mode-{{value}}-{{../next}}" class="makeup__radio-item-input makeup__mode"{{#if checked}} checked{{/if}} value="{{value}}">
                        <label for="makeup-mode-{{value}}-{{../current}}" class="makeup__radio-item-label makeup__radio-item-label--blend-{{value}}" title="{{tooltip}}">
                            {{tooltip}}
                        </label>
                    </div>
                {{/each}}

            </div>
        {{/if}}

        {{!-- Background --}}
        {{#if background}}
            <div class="makeup__radio">

                <div class="makeup__radio-title">
                    {{background.label}}
                </div>

                {{#each background.items}}
                    <div class="makeup__radio-item">
                        <input type="radio" name="makeup-bg-{{../id}}" id="makeup-bg-{{value}}-{{../next}}" class="makeup__radio-item-input makeup__bg"{{#if checked}} checked{{/if}} value="{{value}}">
                        <label for="makeup-bg-{{value}}-{{../current}}" class="makeup__radio-item-label makeup__radio-item-label--bg-{{value}}" title="{{tooltip}}">{{tooltip}}</label>
                    </div>
                {{/each}}

            </div>
        {{/if}}

        {{!-- Transparency --}}
        {{#if transparency}}
            <div class="makeup__slider makeup__slider--transparency">

                <div class="makeup__slider-title">{{transparency.label}}</div>

                <div class="makeup__slider-track">
                    <div class="makeup__slider-track-in">
                        <div class="makeup__slider-track-runner"></div>
                    </div>
                </div>

            </div>
        {{/if}}

        {{!-- Zoom --}}
        {{#if zoom}}
            <div class="makeup__slider makeup__slider--zoom">

                <div class="makeup__slider-title">{{zoom.label}}</div>

                <div class="makeup__slider-track">
                    <div class="makeup__slider-track-in">
                        <div class="makeup__slider-track-runner"></div>
                    </div>
                </div>

            </div>
        {{/if}}

        {{!-- Smiley --}}
        {{#if smiley}}
            <div class="makeup__btn">
                <input type="checkbox" id="makeup-smiley-{{next}}" class="makeup__btn-checkbox makeup__smiley"{{#if smiley.checked}} checked{{/if}}>
                <label for="makeup-smiley-{{current}}" class="makeup__btn-label makeup__btn-label--smiley" title="{{smiley.tooltip}}">
                    {{smiley.tooltip}}
                </label>
            </div>
        {{/if}}

        {{#if full}}
            <div class="makeup__btn">
                <input type="checkbox" id="makeup-full-{{next}}" class="makeup__btn-checkbox makeup__full"{{#if full.checked}} checked{{/if}}>
                <label for="makeup-full-{{current}}" class="makeup__btn-label makeup__btn-label--full" title="{{full.tooltip}}">
                    {{full.tooltip}}
                </label>
            </div>
        {{/if}}

    </div>

    <!-- Sidebar -->
    <div class="makeup__aside">
        <div class="makeup__aside-in">

            <div class="makeup__nav">

                {{#if data}}
                    <div class="makeup__nav-list">
                        {{! [modules, blocks, helpers] }}
                        {{#each data}}
                            <div class="makeup__nav-list-item" data-id="{{@index}}">

                                <div class="makeup__nav-title">{{label}}</div>

                                {{! [card, callout, map, ...] }}
                                {{> 'items'}}

                            </div>
                        {{/each}}
                    </div>
                {{/if}}

            </div>

            <div class="makeup__aside-track">
                <div class="makeup__aside-track-bar"></div>
            </div>

        </div>
    </div>

    <!-- Statusbar -->
    <div class="makeup__status"></div>

    <!-- Main -->
    <div class="makeup__main">

        <!-- Rulers -->
        <div class="makeup__ruler makeup__ruler--h">
            <div class="makeup__ruler-track">
                <div class="makeup__ruler-track-in">

                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>

                    <div class="makeup__ruler-track-active"></div>

                    <div class="makeup__ruler-track-runner makeup__ruler-track-runner--disabled"></div>
                    <div class="makeup__ruler-track-runner"></div>

                </div>
            </div>
        </div>

        <div class="makeup__container">
            <div class="makeup__container-in">
                <div class="makeup__container-image"></div>
                <div class="makeup__container-markup"></div>
            </div>
        </div>

    </div>

</div>